
@media screen and (max-width: 740px) {
    .navLinks {
        position: fixed;
        width: 200px;
        height: 100vh;
        right: -200px;
        top: 0px;
        background: #111;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: 0.5s ease;
        padding-top: 50px;
    }

    #navIcon {
        display: block;
    }

    #image {
        display: none !important;
    }

    .leftColumn {
        width: 100%;
    }

    .description {
        padding: 17px;
    }

}

@media screen and (max-width: 620px) {
    header {
        padding: 0 30px;
        height: 60px;
    }

    .page {
        font-weight: 300;
    }

    .bannerContent {
        h1 {
            font-size: 1.3em;
        }
    }

    .experiences .description {
        padding: 7%;
    }

    #Projects {
        .contentContainer {
            padding-left: 45px;
            padding-right: 45px; 
        }
    }

    footer {
      .mediaLinks {
        position: relative;
        flex-direction: row;
        width: 160px;
        margin: 5px;
        margin-bottom: 15px;
        right: 0;

        a {
            margin: 0;
        }
      }
    }
}