@media screen and (max-width: 840px) {
  .navLinks {
    position: fixed;
    width: 200px;
    height: 100vh;
    right: -200px;
    top: 0px;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s ease;
    padding-top: 50px;
    z-index: 15;
  }

  #navIcon {
    display: block;
  }

  .image,
  .experiences .image {
    display: none;
  }

  .leftColumn {
    width: 100%;
    max-width: none;
  }

  .description {
    padding: 17px;
  }
}

@media screen and (max-width: 620px) {
  header {
    padding: 0 25px;
    height: 60px;
  }

  #logo {
    margin: 0;
  }

  .page {
    font-weight: 300;
  }

  .bannerContent {
    h1 {
      font-size: 1.3em;
    }
  }

  .experiences .description {
    padding: 7%;
  }

  .project {
    height: 250px;

    p {
      padding-right: 30px;
    }
  }
}
//   footer {
//     .mediaLinks {
//       position: relative;
//       flex-direction: row;
//       width: 160px;
//       margin: 5px;
//       margin-bottom: 15px;
//       right: 0;

//       a {
//         margin: 0;
//       }
//     }
//   }
// }

@media screen and (max-width: 360px) {
  .container {
    margin: 50px auto;
  }

  .bannerContent {
    h1 {
      font-size: 1.1em;
    }
  }
}
