 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font: inherit;
}

/******************************
			Fonts
*******************************/

/*@font-face {
    font-family: "Raleway";
    src: url('../Static/Fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../Static/Fonts/Raleway-SemiBold.woff') format('woff'),
        url('../Static/Fonts/Raleway-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../Static/Fonts/Raleway-Light.woff2') format('woff2'),
        url('../Static/Fonts/Raleway-Light.woff') format('woff'),
        url('../Static/Fonts/Raleway-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../Static/Fonts/Raleway-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}*/

/******************************
		Base Properties
*******************************/

html {
	/* FLuid typography scaling over responsive*/
	/* Max root sixe = 16px, min root size = 10px*/
	/* Max viewport width = 1600px, min width = 300px*/
	font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
}

body {
	/*Overscroll-behavior eliminates scroll bounce*/
	/*overscroll-behavior: none;*/
	background: #0D1F3A;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.5s ease;
	font: inherit;
}

a:visited{
	color: inherit;
}

a:hover {
	color: #FFFFFF !important;
}

.page {
	width: 100%;
	height: 100vh;
	background: #0D1F3A;
	font-family: "Raleway";
	font-size: 0.95rem;
	font-weight: 200;
	color: #FFFFFF;
	padding: 0 100px;
	position: relative;
}

/******************************
			Header
*******************************/

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 0 60px;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Raleway";
	font-size: 0.95rem;
	font-weight: 300;
	background: #0D1F3A;
	/*box-shadow: 0px -4px 7px 3px #111111;*/
}

nav {
	display: flex;
	/*Main axis*/
	justify-content: space-between;
	/*Align items acts on the cross axis*/
	align-items: center;
	width: 100%;
}

#logo {
	/*height: 35px;*/
	/*Left Margin = a padding + right margin*/
	margin: 25px;
}

.navLinks a {
	padding: 5px 15px;
	margin: 10px;
	color: #47CFF9;
}

/******************************
			Banner
*******************************/

/*.banner {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 100px;
}*/

.container {
	/*Max-width so that container doesn't stretch too much*/
	/*And to set set margin auto for centering horizontally*/
	max-width: 1100px;
	margin: auto;
	height: 100%;
	padding: 50px;
	/*Flex box to vertically center text div*/
	/*And left align the content*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*Parent font size = 2.5 * 16 (root) = 40px*/
	font-size: 2.5rem;
}

.bannerContent {
	padding-top: 30px;
}

.bannerContent h1,
.bannerContent h2,
.bannerContent h3,
.bannerContent h6 {
	text-align: center;
	margin: 0;
}


.bannerContent h6,
.bannerContent h3 {
	color: #64FFDA;
	font-family: "Roboto Mono";
	font-size: 0.8em;
	font-weight: 100;
	margin-top: 0.52em;
}

.bannerContent h1 {
	font-family: "Overpass";
	font-size: 1.5em;
	font-weight: 200;
	margin-top: 0.18em;
}

.bannerContent h2 {
	font-size: 0.65em;
	margin-top: 1.45em;
	color: #47CFF9;
}

.bannerContent div {
	margin-top: 0.85em;
	display: flex;
	justify-content: center;
}

.bannerContent a {
	display: inline-block;
	padding: 15px;
	font-family: "Roboto Mono";
	font-size: 0.33em;
	font-weight: 100;
	border: 1px solid #64FFDA;
	border-radius: 4px;
	color: #64FFDA;
}

/******************************
		About Page
*******************************/