// CSS Reset
@import "reset";

//******************************
// 		SCSS Variables
//******************************

$dark-blue: #091529;
$sky-blue: #47cff9;
$turquoise: #64ffda;
$darker-blue: #051020;
$white: #ffffff;
$midnight-blue: #112c4c;
$grey: #757e98;
$blue-grey: #929ec4;
$off-white: #cfdaf7;
$light-grey: #a8b2d1;

$color-background: $dark-blue;
$color-navlinks: $sky-blue;
$color-text: $blue-grey;
$color-heading: $off-white;
$color-loading: $darker-blue;
$color-highlight: $turquoise;
$color-border: $midnight-blue;
$color-medialinks: $blue-grey;
$color-bullets: $turquoise;
$color-hover: $off-white;

/******************************
		Base Properties
*******************************/

html {
  /* Fluid typography scaling over responsive*/
  /* Max root size = 16px, min root size = 14px*/
  /* Max viewport width = 1600px, min width = 320px*/
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
}

body {
  /*Overscroll-behavior eliminates scroll bounce*/
  /*overscroll-behavior: none;*/
  background: $color-background;
  margin: 0;
  overflow: hidden;
  // overflow: visible;
  transition: 1s ease;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s ease;
  font: inherit;
  text-align: center;
  line-height: 1.4em;
}

a:hover {
  color: $color-hover !important;
}

a:visited {
  color: inherit;
}

.page {
  width: 100%;
  min-height: 100vh;
  background: $color-background;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
  font-weight: 300;
  color: $color-heading;
  // padding: 0px 40px;
  position: relative;
}

.container {
  /*Max-width so that container doesn't stretch too much*/
  /*And to set set margin auto for centering horizontally*/
  max-width: 850px;
  // min-height: 100vh;
  width: 86%;
  margin: auto;
  min-height: 100vh;
  /*Flex box to vertically center text div*/
  /*And left align the content*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*Parent font size = 2.5 * 16 (root) = 40px*/
  font-size: 2.5rem;

  > h2 {
    width: 100%;
    margin-top: 0.25em;
    margin-bottom: 1.5em;
    font-size: 0.75em;
    font-weight: 500;
  }
}

.contentContainer {
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid $color-border;

  p {
    margin-bottom: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 0.46em;
    color: $color-text;
    text-align: justify;
  }
}

.leftColumn {
  width: 60%;
  max-width: 480px;
}

.highlight {
  color: $color-highlight;
  // font-weight: 400;
}

.image {
  width: 200px;
  margin-top: 0px;
  margin-left: 50px;
  height: 250px;
  border: 1px solid $turquoise;

  img {
    width: 100%;
  }
}

li,
p {
  letter-spacing: 0.2px;
}

.activeLink {
  color: #ffffff;
}

/******************************
		Load Screen
*******************************/

// @keyframes loaderBar {
//   0% {
//     left: -40px;
//   }

//   50% {
//     left: 40px;
//   }

//   // 75% {
//   //   left: -60px;
//   // }

//   100% {
//     left: -40px;
//   }
// }

// @keyframes loaderScreen {
//   0% {
//   	opacity: 1;
//   }

//   100% {
//   	opacity: 0;
//   }
// }

.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background: $color-loading;
  display: flex;
  justify-content: center;
  align-items: center;
  // animation-name: loaderScreen;
  // animation-duration: 0.6s;
  // animation-delay: 3s;
}

#loader-percent {
  font-family: "Roboto Mono", monospace;
  font-size: 2em;
  color: $turquoise;
}

// .loader {
//   div {
//     position: relative;
//     width: 50px;
//     height: 5px;
//     background: $turquoise;
//     animation-name: loaderBar;
//     animation-duration: 1.4s;
//     animation-timing-function: ease;
//     animation-iteration-count: infinite;
//   }
// }

/******************************
			Header
*******************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 60px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  background: $color-background;
  transition: 0.5s ease;
}

header > nav {
  display: flex;
  /*Main axis*/
  justify-content: space-between;
  /*Align items acts on the cross axis*/
  align-items: center;
  width: 100%;
}

#logo {
  /*height: 35px;*/
  /*Left Margin = a padding + right margin*/
  margin-left: 25px;

  svg {
    stroke: #00dccf;
    transition: 1s ease;

    :hover {
      stroke: #ffffff;
    }
  }
}

.navLinks {
  a {
    padding: 10px;
    margin: 10px;
    color: $color-navlinks;
  }
}

#navIcon {
  width: 25px;
  padding: 3px;
  background: #ffffff;
  border-radius: 4px;
  display: none;
}

#closeNav {
  position: absolute;
  left: 20px;
  top: 20px;
  display: none;
  font-size: 1.4em;
  color: $white;
}

.hideHeader {
  top: -100px;
}

.shadowHeader {
  box-shadow: 0px -4px 14px -1px rgba(0, 0, 0, 0.6);
}

// /******************************
// 		Media Links
// *******************************/

// .mediaLinks {
//   position: fixed;
//   z-index: 8;
//   bottom: 0;
//   right: 4%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 80px;

//   > a {
//     display: inline-block;
//     margin: 10px 0;

//     svg {
//       fill: $color-medialinks;
//       transition: fill 1s;

//       :hover {
//         fill: #ffffff;
//       }
//     }

//     i {
//       font-size: 2em;
//       color: $color-medialinks;
//     }
//   }
// }

/******************************
			Banner
*******************************/

#Home {
  .container {
    max-width: 950px;
  }
}

.bannerContent {
  position: relative;
  z-index: 6;
  // margin-bottom: 15px;
  align-self: flex-start;

  h1,
  h2,
  h3,
  h6 {
    text-align: left;
    margin: 0;
  }

  h6,
  h3 {
    color: $turquoise;
    font-family: "Roboto Mono", monospace;
    font-size: 0.46em;
    font-weight: 200;
    // margin-top: 0.52em;
  }

  h6 {
    margin: 0;
  }

  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    margin-top: 0.48em;
    color: #ccd6f6;
    margin-left: -2px;
  }

  h2 {
    font-size: 1.3em;
    line-height: 130%;
    margin-top: 0.4em;
    // color: $turquoise;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: $blue-grey;
    // letter-spacing: -1px;
  }

  p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 165%;
    font-size: 0.46em;
    max-width: 480px;
    text-align: left;
    color: $blue-grey;
    margin-top: 2.4em;
  }

  .button {
    margin-top: 2.8em;
  }
}

.links {
  margin-top: 0.9em;
  display: flex;
  // justify-content: center;
  align-items: center;

  a {
    line-height: 0;
    margin-right: 0.2em;
    width: 0.73em;
    height: 0.73em;
    background: $color-medialinks;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  a:hover {
    background: $turquoise;
  }

  i {
    font-size: 0.47em;
    color: $color-background;
    position: relative;
    top: 1px;
  }

  // GitHub icon styling
  .githubLink {
    background: none;
  }

  .githubLink:hover {
    background: none;
  }

  .fa-github {
    font-size: 0.79em;
    color: $color-medialinks;
    transition: 0.5s ease;
  }

  .fa-github:hover {
    color: $turquoise;
  }
}

.fa-chevron-down {
  position: absolute;
  bottom: 14vh;
  font-size: 0.8em;
  color: $turquoise;
}

/******************************
			About
*******************************/

#About {
  ul {
    width: 80%;
    margin-top: 10px;
    font-size: 0.35em;
    color: $color-text;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Roboto Mono", monospace;

    li {
      position: relative;
      margin: 5px;
      padding-left: 1.1em;
      line-height: 1.5em;
    }

    li:before {
      content: "> ";
      color: $color-bullets;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  h4 {
    font-size: 0.48em;
    font-weight: 300;
  }

  .contentContainer {
    padding-bottom: 0.5em;
  }
}

/******************************
		Experiences
*******************************/

#Experience {
  .container {
    max-width: 770px;
  }
}

.fix-collapse:after {
  position: relative;
  content: "";
  // width: 1px;
  padding-right: 1px;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

.expMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  border-bottom: 1px solid $color-border;
}

.expNavButton {
  height: 100%;
  padding: 0 0.2em;
  color: #163a66;
  font-weight: 300;
  font-size: 0.85em;
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // z-index: 3;
}

// #expNavLeftButton {
//   top: 0;
//   left: 0;
// }

// #expNavRightButton {
//   top: 0;
//   right: 0;
// }

.experiences {
  // display: block;
  background: rgba(0, 0, 0, 0.15);
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid $color-border;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);

  nav {
    flex: 1;
    color: $color-navlinks;
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;

    a {
      font-size: 0.47em;
      position: relative;
      padding: 15px 10px;
      font-weight: 400;
      margin-left: 1.3em;
      margin-right: 1.3em;
      white-space: nowrap;
    }
  }

  .experience {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .description {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 50px;
  }

  h3 {
    font-size: 0.48em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 140%;
    color: $off-white;
    // color: $turquoise;
  }

  // h4 {
  //   margin-top: 0.47em;
  //   font-family: "Roboto", sans-serif;
  //   font-size: 0.43em;
  //   font-weight: 300;
  //   color: $turquoise;
  // }

  h5 {
    margin-top: 0.7em;
    font-family: "Roboto Mono", monospace;
    font-size: 0.37em;
    font-weight: 200;
    color: $light-grey;
  }

  ul {
    font-size: 0.42em;
    color: $color-text;
    line-height: 150%;
    margin-top: 15px;
    font-family: "Source Sans Pro", sans-serif;

    li {
      position: relative;
      margin-bottom: 7px;
      padding-left: 0.8em;
      line-height: 1.75em;
    }

    li:before {
      content: "> ";
      color: $color-bullets;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .image {
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 200px;
  }
}

.activeExperience {
  color: $turquoise;
  //   border-bottom: 2px solid $turquoise;
}

.activeExperience:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: $turquoise;
}
/******************************
			Projects
*******************************/

#Projects {
  .container {
    min-height: 100vh;
    padding: 40px 0;

    > p {
      margin-top: 2.2em;
      font-size: 0.5em;
      color: $color-text;
      font-family: "Source Sans Pro", sans-serif;
      text-align: center;
      line-height: 1.4em;

      > a {
        color: $turquoise;
        text-decoration: underline;
      }

      > a:hover {
        color: $off-white;
      }
    }
  }

  .contentContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    position: relative;
    grid-gap: 30px 30px;
    border: 0;
  }

  a {
    line-height: 0;
  }
}

.project {
  position: relative;
  border: 1px solid $color-border;
  transition: 1s;
  width: 100%;
  height: 325px;
  min-height: 200px;
  max-width: 370px;
  margin: auto;
  padding: 37px 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);

  h3 {
    font-size: 0.52em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $turquoise;
  }

  ul {
    max-width: 80%;
    margin-top: 0.4em;
    display: flex;
    font-size: 0.35em;
    color: $turquoise;

    li {
      margin-right: 1em;
      white-space: nowrap;
    }
  }

  p {
    font-size: 0.44em;
    line-height: 1.65em;
    margin-top: 1.7em;
    text-align: left;
  }

  > div {
    width: 100%;
  }

  .hidden-link {
    visibility: hidden;
  }
}

.projectTech {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul {
    font-size: 0.35em;
    font-family: "Roboto Mono", monospace;
  }

  .fa-github {
    font-size: 0.75em;
    color: $light-grey;
    transition: 0.5s ease;
  }

  .fa-github:hover {
    color: $turquoise;
  }
}

/******************************
			Contact
*******************************/

#Contact {
  // h3 {
  //   // font-family: "Roboto Mono";
  //   font-size: 0.55em;
  //   color: $white;
  //   line-height: 1.4em;
  // }

  // h2 {
  //   font-size: 1.1em;
  //   font-family: "Overpass";
  //   font-weight: 200;
  //   margin-top: 0.6em;
  // }

  .bannerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    top: -30px;

    .button {
      margin-top: 3em;
    }
  }

  h2 {
    text-align: center;
    font-size: 0.73em;
    color: $off-white;
  }

  p {
    text-align: center;
    margin-top: 1.6em;
    line-height: 165%;
    font-size: 0.45em;
  }

  .links {
    margin-top: 1em;

    a {
      margin: 0 0.2em;
      width: 0.8em;
      height: 0.8em;
      background: $sky-blue;
    }

    a:hover {
      background: $turquoise;
    }

    i {
      font-size: 0.55em;
      position: relative;
      top: 1px;
    }

    .fa-github {
      font-size: 0.88em;
      color: $sky-blue;
    }

    .fa-github:hover {
      color: $turquoise;
    }

    .githubLink {
      background: none;
    }

    .githubLink:hover {
      background: none;
    }
  }
}

.button {
  display: inline-block;
  padding: 0.7em 1.3em !important;
  font-family: "Roboto Mono", monospace;
  font-size: 0.4em;
  font-weight: 300;
  border: 1px solid $turquoise;
  border-radius: 4px;
  color: $turquoise !important;
  margin-top: 3em;
}

.resume {
  font: inherit;
  font-size: 0.9em;
}

/******************************
			Footer
*******************************/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111111;
  padding: 15px;

  .personal {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    color: $grey;
  }

  a {
    font-family: "Roboto Mono", monospace;
    margin-top: 6px;
    color: $grey !important;
    font-weight: 300;
    text-decoration: underline;
  }
}

@import "mediaQueries";
